<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Report</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div className="main-info">
      <p><strong>Account number:</strong> **************8005</p>
      <p><strong>Bank name:</strong> BANCO GALICIA</p>
      <p><strong>IFSC code:</strong> 257878</p>
      <p>
        <strong>Total available balance:</strong> 196110
      </p>
    </div>
    <br />
    <h4>
      Detailed transactions between 24th July 2021 and 24th July 2021
    </h4>
    <table class="report-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Deposits</th>
          <th>Withdrawals</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td></td>
          <td>10555</td>
          <td></td>
          <td>221110</td>
        </tr>
        
        <tr>
          <td></td>
          <td>10555</td>
          <td></td>
          <td>210555</td>
        </tr>
        
        <tr>
          <td></td>
          <td>100000</td>
          <td></td>
          <td>200000</td>
        </tr>
        
        <tr>
          <td></td>
          <td></td>
          <td>25000</td>
          <td>196110</td>
        </tr>
        
        <tr>
          <td></td>
          <td>100000</td>
          <td></td>
          <td>100000</td>
        </tr>
        
      </tbody>
    </table>
  </body>
</html>